APP_NAME="Money Tracker"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_TIMEZONE=Asia/Jakarta

DB_CONNECTION=sqlite
DB_DATABASE=/tmp/money-tracker/database/database.sqlite

TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_URL=

SESSION_DRIVER=file
SESSION_LIFETIME=120

CACHE_DRIVER=file
QUEUE_CONNECTION=sync
